body {
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
}

#mod-container {
    margin: 0px;
    padding: 0px;
}

.list-item {
    cursor: default;
    user-select: none;
    white-space: nowrap;
    font-weight: normal;
    padding-left: 1em;
    overflow: hidden;
    text-transform: none;
}

.level0 {
    padding: 0px;
}

.list-item-superheader {
    font-weight: bold;
    text-transform: uppercase;
}

.list-item-header {
    font-weight: bold;
    text-transform: none;
}

.list-item-superheader > .list-item {
    font-weight: bold;
    text-transform: none;
}

.inactiveMarking {
    background-color: cornflowerblue;
    border: black;
    opacity: 0;
    pointer-events: none;
    position:absolute;
}   

.activeMarking {
    background-color: #3760db36;
    border: #797b85;
    border-width: 1px;
    border-style: solid;
    pointer-events: none;
    position:absolute;
}
